@model ProjectTreinritten.ViewModels.BoekenVM

@{
    ViewData["Title"] = "KiezenRit";
}

<h2>KiezenRit</h2>



<link href="~/lib/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />

<table class="table">
    <thead>
        <tr>
            <th>
                Vertrekuur
            </th>
            <th>
                Aankomstuur
            </th>
            <th>
                duur
            </th>
            <th>
                AankomstStation
            </th>
            <th>
                Treintype
            </th>
            <th>
                Vertrekstation
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Ritten)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VertrekUur)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AankomstUur)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duur)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AankomstStation.StationNaam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TreinType.TreinTypeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VertrekStation.StationNaam)
                </td>
                <td>
                    <a onclick="hiddenUpdaten(@item.RitId)">Select</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="container">
    <form asp-action="Select">
        <div class="row">
            <div class="col-6">
                @Model.Vertrekpunt
            </div>           
            <div class="col-6">
                @Model.Eindpunt
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                @Model.Naam1
            </div>               
            <div class="col-6">
                @Model.Voornaam1
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                @Model.Klasse
            </div>
            <div class="col-6">
                @Model.HotelNaam
            </div>
        </div>
        <div>
            <div id="GekozenRit" class="col-12" style="display:none">
                
            </div>
        </div>
        <input type="submit" id="hiddenKnop" style="display:none"/>
    </form>
</div>
<script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    @*Toevoegen voor tables + sortering*@
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });

</script>

<script>
    const hiddenUpdaten = (a) => {
        document.getElementById("GekozenRit").innerHTML = a;
        document.getElementById("hiddenKnop").click();
    }
</script>
