@model ProjectTreinritten.ViewModels.BoekenVM

@{
    ViewData["Title"] = "KiezenRit";
}

<h2>KiezenRit</h2>



<link href="~/lib/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />

<table class="table">
    <thead>
        <tr>
            <th>
                Vertrekuur
            </th>
            <th>
                Aankomstuur
            </th>
            <th>
                duur
            </th>
            <th>
                AankomstStation
            </th>
            <th>
                Treintype
            </th>
            <th>
                Vertrekstation
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Ritten)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VertrekUur)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AankomstUur)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duur)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VertrekStationId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TreinTypeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AankomstStationId)
                </td>
                <td>
                    <a onclick="hiddenUpdaten(@item.RitId)">Select</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="container">
    <form asp-action="Select">
        <div class="row">
            <div class="col-6">
                <input asp-for="Vertrekpunt" value="@Model.Vertrekpunt" />
            </div>
            <div class="col-6">
                <input asp-for="Eindpunt" value="@Model.Eindpunt" />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <!--nog in een foreach lus alle namen overlopen-->
                <input asp-for="Namen" value="@Model.Namen.ElementAt(0)" />
            </div>
            <div class="col-6">
                <!--nog in een foreach lus alle namen overlopen-->
                <input asp-for="Voornamen" value="@Model.Voornamen.ElementAt(0)" />
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <input asp-for="Klasse" value="@Model.Klasse" />
            </div>
            <div class="col-3">
                <input asp-for="HotelId" value="@Model.HotelId" />
            </div>

        </div>
        <div class="row">
            <div class="col-3">
                <input asp-for="Vertrekdatum" value="@Model.Vertrekdatum" />
            </div>
        </div>
        
        <div>
            <div class="col-12" style="display:none">
                <input id="GekozenRit" asp-for="GekozenRitId" value="" />
            </div>
        </div>
        <input type="submit" id="hiddenKnop" style="display:none" />
    </form>
</div>
@section Scripts {
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/jquery-migrate.min.js"></script>

    <script>
        const hiddenUpdaten = (a) => {
            console.log("a")
            document.getElementById("GekozenRit").value = a;
            document.getElementById("hiddenKnop").click();
        }
    </script>
}
