

@model ProjectTreinritten.ViewModels.BoekenVM


@{
    ViewData["Title"] = "Kies een traject";
}

<h2>Kies een traject</h2>



<link href="~/lib/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />

<table class="table">
    <thead>
        <tr>
            <th>
                Vertrekdatum
            </th>
            <th>
                Vertrekuur
            </th>
            <th>
                Vertrekpunt
            </th>
            <th>
                Aankomstdatum
            </th>
            <th>
                Aankomstuur
            </th>
            <th>
                Eindpunt
            </th>
            <th>
                Aantal overstappen
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Trajecten)
        {
            <tr>
                <td>
                    @Model.Vertrekdatum
                </td>
                <td>
                    @{
                        foreach (var r in Model.AlleRitten)
                        {
                            if (r.RitId == item.Rit1Id)
                            {
                                ViewBag.vertrekuur = r.VertrekUur;
                            }
                        }

                    }
                    @ViewBag.vertrekuur
                </td>
                <td>
                    @Model.VertrekpuntNaam
                </td>
                <td>
                    @{
                        if (item.Rit2Id == null)
                        {
                            //1rit
                            foreach (var r in Model.AlleRitten)
                            {
                                if (r.RitId == item.Rit1Id)
                                {
                                    if (r.AankomstUur.Hours < r.VertrekUur.Hours)
                                    {
                                        ViewBag.aankomstdatum = DateTime.Parse(Model.Vertrekdatum).AddDays(1).ToString("yyyy-MM-dd");
                                    }
                                    else
                                    {
                                        ViewBag.aankomstdatum = DateTime.Parse(Model.Vertrekdatum).ToString("yyyy-MM-dd");
                                    }
                                }
                            }
                        }
                        else
                        {
                            if (item.Rit3Id == null)
                            {
                                //2ritten
                                foreach (var r in Model.AlleRitten)
                                {
                                    if (r.RitId == item.Rit1Id)
                                    {
                                        foreach (var r1 in Model.AlleRitten)
                                        {
                                            if (r1.RitId == item.Rit2Id)
                                            {
                                                if (r.AankomstUur.Hours < r.VertrekUur.Hours || r1.AankomstUur.Hours < r1.VertrekUur.Hours || r.AankomstUur.Hours > r1.VertrekUur.Hours)
                                                {
                                                    ViewBag.aankomstdatum = DateTime.Parse(Model.Vertrekdatum).AddDays(1).ToString("yyyy-MM-dd");
                                                }
                                                else
                                                {
                                                    ViewBag.aankomstdatum = DateTime.Parse(Model.Vertrekdatum).ToString("yyyy-MM-dd");
                                                }
                                            }
                                        }

                                    }
                                }
                            }
                            else
                            {
                                bool volgendeDag = false;
                                //3ritten
                                foreach (var r in Model.AlleRitten)
                                {
                                    if (r.RitId == item.Rit1Id)
                                    {
                                        foreach (var r1 in Model.AlleRitten)
                                        {
                                            if (r1.RitId == item.Rit2Id)
                                            {
                                                if (r.AankomstUur.Hours < r.VertrekUur.Hours || r1.AankomstUur.Hours < r1.VertrekUur.Hours || r.AankomstUur.Hours > r1.VertrekUur.Hours)
                                                {
                                                    volgendeDag = true;
                                                }
                                                foreach (var r2 in Model.AlleRitten)
                                                {
                                                    if (r2.RitId == item.Rit3Id)
                                                    {
                                                        if (r2.AankomstUur.Hours < r2.VertrekUur.Hours  || r1.AankomstUur.Hours > r2.VertrekUur.Hours || volgendeDag)
                                                        {
                                                            ViewBag.aankomstdatum = DateTime.Parse(Model.Vertrekdatum).AddDays(1).ToString("yyyy-MM-dd");
                                                        }
                                                        else
                                                        {
                                                            ViewBag.aankomstdatum = DateTime.Parse(Model.Vertrekdatum).ToString("yyyy-MM-dd");
                                                        }
                                                    }
                                                }
                                            }
                                        }

                                    }
                                }

                            }
                        }
                    }
                    @ViewBag.aankomstdatum
                </td>
                <td>
                    @{
                        if (item.Rit2Id == null)
                        {
                            foreach (var r in Model.AlleRitten)
                            {
                                if (r.RitId == item.Rit1Id)
                                {
                                    ViewBag.aankomstuur = r.AankomstUur;
                                }
                            }
                        }
                        else
                        {
                            if (item.Rit3Id == null)
                            {
                                foreach (var r in Model.AlleRitten)
                                {
                                    if (r.RitId == item.Rit2Id)
                                    {
                                        ViewBag.aankomstuur = r.AankomstUur;
                                    }
                                }
                            }
                            else
                            {
                                foreach (var r in Model.AlleRitten)
                                {
                                    if (r.RitId == item.Rit3Id)
                                    {
                                        ViewBag.aankomstuur = r.AankomstUur;
                                    }
                                }
                            }
                        }
                    }
                    @ViewBag.aankomstuur
                </td>
                <td>
                    @Model.EindpuntNaam
                </td>
                <td>
                    @{
                        if (item.Rit2Id == null)
                        {
                            ViewBag.aantalRitten = 0.ToString();
                        }
                        else
                        {
                            if (item.Rit3Id == null)
                            {
                                ViewBag.aantalRitten = 1.ToString();
                            }
                            else
                            {
                                ViewBag.aantalRitten = 2.ToString();
                            }

                        }
                    }
                    @ViewBag.aantalRitten
                </td>

                <td>
                    <a onclick="hiddenUpdaten(@item.TrajectId)">Select</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="container" style="display:none">
    <form asp-action="Select">
        <div class="row">
            <div class="col-6">
                <input asp-for="Vertrekpunt" value="@Model.Vertrekpunt" />
            </div>
            <div class="col-6">
                <input asp-for="Eindpunt" value="@Model.Eindpunt" />
            </div>
        </div>
        <div class="row">
            <div class="form-group" id="voornaam1">
                <label asp-for="Voornamen" class="control-label">Voornaam*</label>
                <input asp-for="Voornamen[0]" class="form-control" />
            </div>
            <div class="form-group" id="naam1">
                <label asp-for="Namen" class="control-label">Naam*</label>
                <input asp-for="Namen[0]" class="form-control" />
            </div>
            <div class="form-group" id="voornaam2">
                <label asp-for="Voornamen" class="control-label">Voornaam persoon 2*</label>
                <input asp-for="Voornamen[1]" class="form-control" />
            </div>
            <div class="form-group" id="naam2">
                <label asp-for="Namen" class="control-label">Naam persoon 2*</label>
                <input asp-for="Namen[1]" class="form-control" />
            </div>
            <div class="form-group" id="voornaam3">
                <label asp-for="Voornamen" class="control-label">Voornaam persoon 3*</label>
                <input asp-for="Voornamen[2]" class="form-control" />
            </div>
            <div class="form-group" id="naam3">
                <label asp-for="Namen" class="control-label">Naam persoon 3*</label>
                <input asp-for="Namen[2]" class="form-control" />
            </div>
            <div class="form-group" id="voornaam4">
                <label asp-for="Voornamen" class="control-label">Voornaam persoon 4*</label>
                <input asp-for="Voornamen[3]" class="form-control" />
            </div>
            <div class="form-group" id="naam4">
                <label asp-for="Namen" class="control-label">Naam persoon 4*</label>
                <input asp-for="Namen[3]" class="form-control" />
            </div>
            <div class="form-group" id="voornaam5">
                <label asp-for="Voornamen" class="control-label">Voornaam persoon 5*</label>
                <input asp-for="Voornamen[4]" class="form-control" />
            </div>
            <div class="form-group" id="naam5">
                <label asp-for="Namen" class="control-label">Naam persoon 5*</label>
                <input asp-for="Namen[4]" class="form-control" />
            </div>
            <div class="form-group" id="voornaam6">
                <label asp-for="Voornamen" class="control-label">Voornaam persoon 5*</label>
                <input asp-for="Voornamen[5]" class="form-control" />
            </div>
            <div class="form-group" id="naam6">
                <label asp-for="Namen" class="control-label">Naam persoon 6*</label>
                <input asp-for="Namen[5]" class="form-control" />
            </div>
            <div class="form-group" id="voornaam7">
                <label asp-for="Voornamen" class="control-label">Voornaam persoon 6*</label>
                <input asp-for="Voornamen[6]" class="form-control" />
            </div>
            <div class="form-group" id="naam7">
                <label asp-for="Namen" class="control-label">Naam persoon 7*</label>
                <input asp-for="Namen[6]" class="form-control" />
            </div>
            <div class="form-group" id="voornaam8">
                <label asp-for="Voornamen" class="control-label">Voornaam persoon 8*</label>
                <input asp-for="Voornamen[7]" class="form-control" />
            </div>
            <div class="form-group" id="naam8">
                <label asp-for="Namen" class="control-label">Naam persoon 8*</label>
                <input asp-for="Namen[7]" class="form-control" />
            </div>
            <div class="form-group" id="voornaam9">
                <label asp-for="Voornamen" class="control-label">Voornaam persoon 9*</label>
                <input asp-for="Voornamen[8]" class="form-control" />
            </div>
            <div class="form-group" id="naam9">
                <label asp-for="Namen" class="control-label">Naam persoon 9*</label>
                <input asp-for="Namen[8]" class="form-control" />
            </div>
            <div class="form-group" id="voornaam10">
                <label asp-for="Voornamen" class="control-label">Voornaam persoon 10*</label>
                <input asp-for="Voornamen[9]" class="form-control" />
            </div>
            <div class="form-group" id="naam10">
                <label asp-for="Namen" class="control-label">Naam persoon 10*</label>
                <input asp-for="Namen[9]" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <input asp-for="Klasse" value="@Model.Klasse" />
            </div>
            <div class="col-3">
                <input asp-for="HotelId" value="@Model.HotelId" />
            </div>

        </div>
        <div class="row">
            <div class="col-3">
                <input asp-for="Vertrekdatum" value="@Model.Vertrekdatum" />
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <input asp-for="Trajecten" value="@Model.Trajecten[0]" />
            </div>
        </div>
        <div>
            <div class="col-12" style="display:none">
                <input id="GekozenTraject" asp-for="GekozenTrajectId" value="" />
            </div>
        </div>
        <input type="submit" id="hiddenKnop" style="display:none" />
    </form>
</div>
@section Scripts {
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/jquery-migrate.min.js"></script>

    <script>
        const hiddenUpdaten = (a) => {
            console.log("a")
            document.getElementById("GekozenTraject").value = a;
            document.getElementById("hiddenKnop").click();
        }
    </script>
}
